[Desktop Entry]
Encoding=UTF-8
Name=DOSBox
Comment=x86/DOS emulator
Comment[pl]=Emulator x86/DOS
Icon=dosbox.png
Exec=dosbox
Terminal=false
Type=Application
Categories=Application;Emulator;
Encoding=UTF-8
# vi: encoding=utf-8
